%h1= t(".title", resource: resource_name.to_s.humanize)
= form_for(resource, as: resource_name, url: user_registration_path, html: { method: :put }) do |f|
  = bootstrap_devise_error_messages!
  .form-group
    = f.label :password
    = f.password_field :password, autocomplete: "new-password", class: "form-control"
    %small.form-text.text-muted
      leave blank if you don't want to change it
  .form-group
    = f.label :password_confirmation
    = f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control"
  .form-group
    = f.label :current_password
    = f.password_field :current_password, autocomplete: "current-password", class: "form-control"
    %small.form-text.text-muted
      we need your current password to confirm your changes
  .form-group
    = f.submit t(".update"), class: "btn btn-primary"
