.admin-header
  %h1
    Create an attestation for 
    %em
      = @registration.title

= form_for @attestation, url: { action: "create" } do |f|
  - if @attestation.errors.any?
    = render partial: "/shared/errors", locals: { name: "Attestation", obj: @attestation }
  = f.hidden_field :registration_id
  .row
    .col-sm-6
      .form-group
        = f.label :kind
        - kinds = [%w[Information information_attestation], %w[Appraisal appraisal_attestation], %w[Service service_record_attestation]]
        = f.select :kind, kinds, {}, { class: "form-control" }
    .col-sm-6
      .form-group
        = f.label :title
        = f.text_field :title, class: "form-control"
  .row
    .col-12
      .form-group
        = f.label :description
        = f.text_area :description, class: "form-control"

  .row.mt-4
    .col-md-6
      .form-group
        = f.submit(:record, class: "btn btn-primary")
