
= form_for @registration, url: { action: ["new", "create"].include?(params[:action]) ? "create" : "update"  } do |f|
  - if @registration.errors.any?
    = render partial: "/shared/errors", locals: { name: "Registration", obj: @registration }
  .row
    .col-sm-6
      .form-group
        = f.label :title
        = f.text_field :title, class: "form-control"
    .col-sm-6
      .form-group
        = f.label :main_category_tag, "Main category"
        = f.collection_select :main_category_tag, Tag.main_category, :slug, :name, { include_blank: true, prompt: "Choose category" }, { class: "form-control" }
  .row
    .col-sm-4
      .form-group
        = f.label :manufacturer_tag, "Manufacturer"
        = f.text_field :manufacturer_tag, class: "form-control"
    .col-sm-8
      .form-group
        = f.label :tags_list
        = f.text_field :tags_list, { value: @registration.tags_list.join(", "), class: "form-control" }
        %small.form-text.text-muted#tags_list_help
          Separate tags with commas
  .row
    .col-12
      .form-group
        = f.label :description
        = f.text_area :description, class: "form-control"

  .row.mt-4
    .col-md-6
      .form-group
        = f.submit(:save, class: "btn btn-primary")
