- new_registration_page = ["new", "create"].include?(params[:action])
= form_for @registration, url: { action: new_registration_page ? "create" : "update" } do |f|
  - if @registration.errors.any?
    = render partial: "/shared/errors", locals: { name: "Registration", obj: @registration }
  .row
    .col-6.col-sm-4
      .form-group
        = f.label :main_category_tag, "Main category"
        = f.collection_select :main_category_tag, Tag.main_category, :slug, :name, { include_blank: true, prompt: "Choose category" }, { class: "form-control" }
    .col-6.col-sm-4
      .form-group
        = f.label :status
        = f.select :status, Registration.statuses.map { |r| [r.titleize, r] }, {}, { class: "form-control" }
    .col-sm-4
      .form-group
        = f.label :manufacturer_tag, "Manufacturer"
        = f.text_field :manufacturer_tag, class: "form-control"
  .row
    .col-lg-4
      .form-group
        = f.label :title
        = f.text_field :title, class: "form-control"
    .col-lg-8
      .form-group
        = f.label :tags_list, "Tags"
        = f.text_area :tags_list, { value: @registration.tags_list.join(", "), class: "form-control" , rows: 1 }
        %small.form-text.text-muted#tags_list_help
          Separate tags with commas
  .row
    .col-12
      .form-group
        = f.label :description
        = f.text_area :description, class: "form-control"

  .row.mt-4
    .col-md-6
      .form-group
        = f.submit(:save, class: "btn btn-primary")

  %h4
    Images
  .row.mb-4{ style: "overflow: hidden;" }
    - @registration.registration_images.build unless @registration.registration_images.count > 1
    - @registration.registration_images.build unless @registration.registration_images.count > 2
    = f.fields_for :registration_images do |builder|
      = render 'images_form', f: builder

