.show.public-image-field.col-6.col-md-4.nested-fields
  .custom-file
    = f.file_field :internal_image, class: "custom-file-input"
    = f.label :internal_image, "Choose file", class: "custom-file-label"
  - if f.object.internal_image.present?
    %a{ href: f.object.internal_image_url }
      = image_tag(f.object.internal_image_url(:small))
  = f.hidden_field :internal_image_cache
  .remove-control
    = f.check_box :_destroy
    = f.label :_destroy, 'Remove', class: 'remove_fields small'
