.show.public-image-field.col-6.col-md-4.nested-fields
  .custom-file
    = f.file_field :image, class: "custom-file-input"
    = f.label :image, "Choose file", class: "custom-file-label"
  - if f.object.image.present?
    %a{ href: f.object.image_url }
      = image_tag(f.object.image_url(:small))
  = f.hidden_field :image_cache
  .remove-control
    = f.check_box :_destroy
    = f.label :_destroy, 'Remove', class: 'remove_fields small'
