.admin-header
  %h1
    Registrations

.row.mt-2
  .col-lg-7.pagination-flex
    = paginate @registrations
    .pagination-number
      = @registrations.total_count
      matching registrations

.mt-4.table-wrapper
  %table.table.table-sm.table-bordered.table-striped
    %thead.sortable
      %th
        Registered at
      %th
        status
      %th
        Title
      %th
        Main Category
    %tbody
      - @registrations.each do |registration|
        %tr
          %td
            %a.convertTime{ href: admin_registration_path(registration.to_param) }
              = l registration.created_at, format: :convert_time
          %td
            = registration.status
          %td
            = registration.title
          %td
            = registration.main_category_tag
