.admin-header
  %h1
    Registrations

.mt-4

/ = form_tag admin_registrations_path, method: "GET", class: "form-inline" do
/   .form-group{ style: "max-width: 100%; width: 30rem;" }
/     = text_field_tag :search_query, params[:search_query], placeholder: "Search email, name, etc.", class: "form-control", style: "width: 100%; margin-right: 1.5rem;"
/   .form-group
/     = submit_tag "Search", class: "btn btn-primary"

.row.mt-2
  .col-lg-7.pagination-flex
    = paginate @registrations
    .pagination-number
      = @registrations.total_count
      matching registrations

.mt-4.table-wrapper
  %table.table.table-sm.table-bordered.table-striped
    %thead.sortable
      %th
        = sortable "created_at"
      %th
        = sortable "status"
    %tbody
      - @registrations.each do |registration|
        %tr
          %td
            %a.convertTime{ href: admin_registration_path(registration) }
              = l registration.created_at, format: :convert_time
          %td
            = registration.status
